.columns {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  display: grid;
  column-gap: 50px;

}

@media only screen and (max-width:600px) {
  .columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 

}