.navbar-side{
  position: absolute;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate3d(-100%, 0, 0);
  transition: transform .5s;
}

.navbar-side.open{
  transform: translate3d(0, 0, 0);
}

.navbar-item {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 22px;
  padding: 40px;
  text-align: center;
}

.navbar-brand {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 100px;
}

.navbar a {
  color: white;
}

.navbar-link:visited{
  color: #fff;
}

.navbar a:visited{
  color: white;
}

.hamburger {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

.hamburger .line{
  display: block;
  width: 40px;
  height: 3px;
  background-color: white;
  margin-block: 10px;
  border-radius: 4px;
  transition: transform .5s;
  opacity: .25s;
}

.hamburger.active .line:nth-child(1){
  transform: translateY(13px) rotate(45deg);
}
.hamburger.active .line:nth-child(2){
  opacity:0;
}
.hamburger.active .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg);
}

// @media only screen and (max-width:600px) {
//   RESPOSIVE 
// }